<a href="https://colab.research.google.com/github/sitthatkaja/data_viz_2022/blob/main/Basic_Programming_Concept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions ($f(x)=y$)

```python
def function_name(input_x):
  #do something with input_x to get output_y
  return output_y
```

$f_1(x) = x^2 + 75$

In [1]:
def function_f1(x):
  a = x**2
  y = a + 75
  return y

print('done!')

done!

In [2]:
function_f1(3)

84

Function มีส่วนสำคัญทั้งหมด 4 ส่วน

1. บอก python ว่าเราจะเขียนฟังก์ชัน ชื่ออะไร `def function_name()`: (ขาดไม่ได้)
2. กำหนดตัวแปรที่จะเป็น Input *Input* (ขาดได้)
3. ส่วนประมวลผล do sonething with *input* to get *output* (ขาดไม่ได้)
4. ส่วน output return *output* (ขาดได้)

## ตัวอย่าง Function ที่มีส่วนประกอบครบ

In [3]:
def function_f1(x):
  a = x**2
  y = a + 75
  return y

## ตัวอย่าง Function ที่ไม่มี input

In [4]:
def pi_v():
  y = 3.14159265359
  return y

In [5]:
piv = pi_v()
circle_area_r2 = piv*(2**2)
print(circle_area_r2)

12.56637061436

## Function ไม่มี process ไม่ได้

In [6]:
#ERROR CODE EXAMPLE
#def function_a():

## ตัวอย่าง Function ที่ไม่มี output

In [7]:
def print_name_id(name,id):
  print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [8]:
print_name_id('สิทธัตกะ จรัสแสง','623020541-2')

ชื่อ สิทธัตกะ จรัสแสง รหัสประจำตัว 623020541-2

In [9]:
a = print_name_id('สิทธัตกะ จรัสแสง','623020541-2')

ชื่อ สิทธัตกะ จรัสแสง รหัสประจำตัว 623020541-2

## ตัวอย่าง Function print : ไปหาเอา

In [10]:
print('สิทธัตกะ จรัสแสง')
print('623020541-2')

สิทธัตกะ จรัสแสง
623020541-2

In [11]:
print('สิทธัตกะ จรัสแสง',end='->')
print('623020541-2')

สิทธัตกะ จรัสแสง->623020541-2

In [12]:
print('สิทธัตกะ จรัสแสง','623020541-2',sep=' & ')

สิทธัตกะ จรัสแสง & 623020541-2

## Input ของ Function แบ่งเป็น 2 ชนิด 

- จำเป็นต้องใส่
- ไม่จำเป็นต้นใส่

ตัวอย่าง function `print_grade()` มี input 3 ตัวจำเป็นต้องใส่ 2 ตัวคือ name กับ id และไม่จำเป็นต้องใส่ 1 ตัวคือเกรด ซึ่งมีค่า default เป็น F

In [13]:
def print_grade(name,id,grade = 'F' ):
  print(f'รหัสประจำตัว {id } ชื่อ {name}')
  print(f'ได้เกรด {grade}')

In [14]:
print_grade('สิทธัตกะ จรัสแสง','623020541-2')

รหัสประจำตัว 623020541-2 ชื่อ สิทธัตกะ จรัสแสง
ได้เกรด F

In [15]:
print_grade('สิทธัตกะ จรัสแสง','623020541-2','A')

รหัสประจำตัว 623020541-2 ชื่อ สิทธัตกะ จรัสแสง
ได้เกรด A

In [16]:
print_grade(id = '623020541-2' , name = 'สิทธัตกะ จรัสแสง' , grade = 'B+')

รหัสประจำตัว 623020541-2 ชื่อ สิทธัตกะ จรัสแสง
ได้เกรด B+

# Looping (for)

```python
for member in listEX:
  do_something()
```

In [17]:
for member in [1,2,3,4,5,6]:
  print(member)

1
2
3
4
5
6

In [18]:
def print_name(name):
    print(f'ฉันชื่อ {name}')

In [19]:
for name in ['สิทธัตกะ','ชนะชัย','วนิศรา']:
  N = name
  print_name(N)

ฉันชื่อ สิทธัตกะ
ฉันชื่อ ชนะชัย
ฉันชื่อ วนิศรา

In [20]:
list_name_id_grade = [['สิทธัตกะ จรัสแสง','623020541-2','A'],['ชนะชัย อิสระกูล','623021045-9','A'],['วนิศรา จงใจ','623021054-8','A']]

In [21]:
for each in list_name_id_grade:
  name = each[0]
  id = each[1]
  grade = each [2]
  print_grade(name,id,grade)
  print('-------------------------------')

รหัสประจำตัว 623020541-2 ชื่อ สิทธัตกะ จรัสแสง
ได้เกรด A
-------------------------------
รหัสประจำตัว 623021045-9 ชื่อ ชนะชัย อิสระกูล
ได้เกรด A
-------------------------------
รหัสประจำตัว 623021054-8 ชื่อ วนิศรา จงใจ
ได้เกรด A
-------------------------------

## ใช้ for loop เพิ่มสมาชิกใน list

In [22]:
list_name = []
list_id = []
list_grade = []
for each in list_name_id_grade:
  list_name.append(each[0])
  list_id.append(each[1])
  list_grade.append(each[2])

In [23]:
list_name

['สิทธัตกะ จรัสแสง', 'ชนะชัย อิสระกูล', 'วนิศรา จงใจ']

## การวนลูปด้วย range()

In [24]:
for i in range(100):
  print('งง',end =' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

## Loop ซ้อน Loop

In [25]:
for mem1 in range(2,5): #[2,3,4]
  print(f'now mem1 = {mem1}')
  for mem2 in range(1,13): #[1,2,3,4,5,6,7,8,9,10,11,12]
    print(f'{mem1} x {mem2} = {mem1*mem2}')
  print(f'end inner for mem 1 = {mem1}')

now mem1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
end inner for mem 1 = 2
now mem1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
end inner for mem 1 = 3
now mem1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
end inner for mem 1 = 4

## Loop in Function

In [26]:
def print_grade_loop(names,grades):
  for n,g in zip(names,grades):
    print(f'{n} ได้เกรด {g}')

In [27]:
print_grade_loop(list_name,list_grade)

สิทธัตกะ จรัสแสง ได้เกรด A
ชนะชัย อิสระกูล ได้เกรด A
วนิศรา จงใจ ได้เกรด A

#Conditional Statement(if)

``` python
if condition1:
  do someting() ##ถ้า condition1 เป็นจริง ทำ do_sonething()
elif condition2:
  do_another_thing() ##ถ้า condition1 ไม่เป็นจริง แต่ condition2 เป็นจริง ทำ do_another thing()
else:
  do_the_last_thing() ## ถ้าไม่มี condition ไหนเป็นจริงเลย ทำ do_the_last_thing()
```

In [28]:
for n in list_name:
  if len(n)>15:
      print(f'{n} ได้เกรด A')
  else:
      print(f'{n} ได้เกรด F')

สิทธัตกะ จรัสแสง ได้เกรด A
ชนะชัย อิสระกูล ได้เกรด F
วนิศรา จงใจ ได้เกรด F

## operator ที่ใช้ตรวจสอบ condition

==,!=,>=,<=,<,>,and,or

In [29]:
a = 10 == 20
print(a)

False

In [30]:
b = 15 <= 20
print(b)

True

In [31]:
if a:
  print('x')

In [32]:
if True:
  print('x')

x

In [33]:
if a and b:
  print('x')

In [34]:
if a or b:
  print('x')

x

#HW
เขียน Function ตัดเกรด โดยที่ input เป็นคะแนน (0-100) , output เป็น (F-A)
หรือ 'ไม่สามารถตัดเกรดได้'

วนลูปตัดเกรด input = [1,50,65,90,101,-5,49,'ก',80]

กำหนด

* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 0 แต่น้อยกว่า 50 จะได้เกรด F
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80 จะได้เกรด A
* ถ้าคะแนนไม่อยู่ในช่วง 0-100 ให้ return 'ไม่สามารถตัดเกรดได้'

In [35]:
score = [1,50,65,90,101,-5,49,'ก',80]

In [42]:
print(score)
for i in score:
    if type(i) == type(""):
        print (f'{i} ไม่สามารถตัดเกรดได้')
    else:
        if i >= 101:
            print (f'คะแนน {i} ไม่สามารถตัดเกรดได้')
        elif i >= 80:
            print (f'คะแนนของคุณคือ {i} ได้เกรด  A')
        elif i >= 75:
            print (f'คะแนนของคุณคือ {i} ได้เกรด  B+')
        elif i >= 70:
            print (f'คะแนนของคุณคือ {i} ได้เกรด  B')
        elif i >= 65:
            print (f'คะแนนของคุณคือ {i} ได้เกรด  C+')
        elif  i >= 60:
            print (f'คะแนนของคุณคือ {i} ได้เกรด  C')
        elif  i >= 55:
            print (f'คะแนนของคุณคือ {i} ได้เกรด  D+')
        elif  i >= 50:
            print (f'คะแนนของคุณคือ {i} ได้เกรด  D')
        elif  i >= 0:
            print (f'คะแนนของคุณคือ {i} ได้เกรด  F')
        else:
            print (f'คะแนน {i} ไม่สามารถตัดเกรดได้')

[1, 50, 65, 90, 101, -5, 49, 'ก', 80]
คะแนนของคุณคือ 1 ได้เกรด  F
คะแนนของคุณคือ 50 ได้เกรด  D
คะแนนของคุณคือ 65 ได้เกรด  C+
คะแนนของคุณคือ 90 ได้เกรด  A
คะแนน 101 ไม่สามารถตัดเกรดได้
คะแนน -5 ไม่สามารถตัดเกรดได้
คะแนนของคุณคือ 49 ได้เกรด  F
ก ไม่สามารถตัดเกรดได้
คะแนนของคุณคือ 80 ได้เกรด  A